
<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product tags in the current collection
{% endcomment %}

{% comment %}
  To provide a 'catch-all' link at the top of the list,
  check against the collection.handle, product type, and vendor.
{% endcomment %}

{% comment %}
  If filtered by tag, we need to get a handle to the unfiltered collection
{% endcomment %}
{% if current_tags %}
  {% if handle == 'all' %}
    {% comment %}
      collections/all does not match a collection,
      so assign all_of_collection to related, which is a list of all products
    {% endcomment %}
    {% assign all_of_collection = collections.related %}
  {% else %}
    {% for link in linklists.all-collections.links %}
      {% if link.object.title == collection.title %}
        {% assign all_of_collection = link.object %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  {% assign all_of_collection = collection %}
{% endif %}

<div class="grid__item three-fifths large--three-quarters">
  <ul class="tab-nav medium-down--hide">
    <li{% unless current_tags %} class="filter--active"{% endunless %}>

      {% comment %}
        Good for /collections/all collection and regular collections
      {% endcomment %}
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">
          {{ 'collections.general.all_of_collection' | t }}
          <span class="tab-count">{{collection.all_products_count}}</span>
        </a>

      {% comment %}
        Good for automatic type collections
      {% endcomment %}
      {% elsif collection.current_type %}
        <a href="{{ collection.current_type | url_for_type }}">
          {{ 'collections.general.all_of_collection' | t }}
        </a>

      {% comment %}
        Good for automatic vendor collections
      {% endcomment %}
      {% elsif collection.current_vendor %}
        <a href="{{ collection.current_vendor | url_for_vendor }}">
          {{ 'collections.general.all_of_collection' | t }}
        </a>
      {% endif %}
    </li>

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}
    {% for tag in collection.all_tags %}
      {% if tag contains "||"%}
      {% else %}
        {% if current_tags contains tag %}
          <li class="filter--active">
            {% capture tag_text %}<span>{{ tag }}</span> <span class="tab-count">{{ collection.products_count }}</span>{% endcapture %}
            {{ tag_text | link_to_remove_tag: tag }}
          </li>
        {% else %}
          {% assign tag_count = 0 %}
          {% for product in all_of_collection.products %}
            {% if product.tags contains tag %}
              {% capture tag_count %}{{ tag_count | plus: 1 }}{% endcapture %}
            {% endif %}
          {% endfor %}
          {% capture tag_text %}<span>{{ tag }}</span> <span class="tab-count">{{ tag_count }}</span>{% endcapture %}
          <li>
            {% comment %}
              Use link_to_add_tag if you want to allow filtering
              by multiple tags
            {% endcomment %}
            {{ tag_text | link_to_tag: tag }}
          </li>
        {% endif %}
        {% endif %}

    {% endfor %}
  </ul>

  <div class="tab-nav--mobile large--hide{% if collection.all_tags.size == 0 %} hide-dropdown{% endif %}">
    {% capture nav_toggle %}
      {% unless current_tags %}
        {% if collection.handle %}
          {{ 'collections.general.all_of_collection' | t }} <span class="tab-count">{{collection.all_products_count}}</span>
        {% elsif collection.current_type %}
          {{ 'collections.general.all_of_collection' | t }}
        {% elsif collection.current_vendor %}
          {{ 'collections.general.all_of_collection' | t }}
        {% endif %}
      {% else %}
        {% for tag in collection.all_tags %}
          {% if tag contains "||" %}
          {% else %}
            {% if current_tags contains tag %}
              <span>{{ tag }}</span> <span class="tab-count">{{ collection.products_count }}</span>
              {% break %}
            {% endif %}
          {% endif %}

        {% endfor %}
      {% endunless %}
    {% endcapture %}
    <button data-tab-nav--toggle class="tab-nav--toggle"{% if collection.all_tags.size == 0 %} disabled{% endif %}>{{ nav_toggle }}</button>

    <ul class="tab-nav">
      <li{% unless current_tags %} class="filter--active"{% endunless %}>

        {% comment %}
          Good for /collections/all collection and regular collections
        {% endcomment %}
        {% if collection.handle %}
          <a href="/collections/{{ collection.handle }}">
            {{ 'collections.general.all_of_collection' | t: collection }}
            <span class="tab-count">{{collection.all_products_count}}</span>
          </a>

        {% comment %}
          Good for automatic type collections
        {% endcomment %}
        {% elsif collection.current_type %}
          <a href="{{ collection.current_type | url_for_type }}">
            {{ 'collections.general.all_of_collection' | t: collection }}
          </a>

        {% comment %}
          Good for automatic vendor collections
        {% endcomment %}
        {% elsif collection.current_vendor %}
          <a href="{{ collection.current_vendor | url_for_vendor }}">
            {{ 'collections.general.all_of_collection' | t: collection }}
          </a>
        {% endif %}
      </li>
      {% for tag in collection.all_tags %}
        {% if tag contains "||"%}
        {% else %}
          {% if current_tags contains tag %}
            <li class="filter--active">
              {% capture tag_text %}<span>{{ tag }}</span> <span class="tab-count">{{ collection.products_count }}</span>{% endcapture %}
              {{ tag_text | link_to_remove_tag: tag }}
            </li>
          {% else %}
            {% assign tag_count = 0 %}
            {% for product in all_of_collection.products %}
              {% if product.tags contains tag %}
                {% capture tag_count %}{{ tag_count | plus: 1 }}{% endcapture %}
              {% endif %}
            {% endfor %}
            {% capture tag_text %}<span>{{ tag }}</span> <span class="tab-count">{{ tag_count }}</span>{% endcapture %}
            <li>
              {% comment %}
                Use link_to_add_tag if you want to allow filtering
                by multiple tags
              {% endcomment %}
              {{ tag_text | link_to_tag: tag }}
            </li>
          {% endif %}
        {% endif %}

      {% endfor %}
    </ul>
  </div>
</div>
<div class="grid__item two-fifths large--one-quarter text-right">
  <div class="return-link">
    <a href="/collections">{{ 'collections.sidebar.return' | t }}</a>
  </div>
</div>

{% include 'tab-nav-js' %}
