
<div class="wrapper supplemental-content">
  <div class="grid">
    <div class="grid__item one-whole large--one-third">
      <img src="{{ 'index-choose.svg' | asset_url }}">
      <div class="text-block">
        <h3>{{ 'homepage.sections.supplemental.choose' | t }}</h3>
        <p>{{ 'homepage.sections.supplemental.choose_description' | t }}</p>
      </div>
    </div>
    <div class="grid__item one-whole large--one-third">
      <img src="{{ 'index-order.svg' | asset_url }}">
      <div class="text-block">
        <h3>{{ 'homepage.sections.supplemental.order' | t }}</h3>
        <p>{{ 'homepage.sections.supplemental.order_description' | t }}</p>
      </div>
    </div>
    <div class="grid__item one-whole large--one-third">
      <img src="{{ 'index-taste.svg' | asset_url }}">
      <div class="text-block">
        <h3>{{ 'homepage.sections.supplemental.taste' | t }}</h3>
        <p>{{ 'homepage.sections.supplemental.taste_description' | t }}</p>
      </div>
    </div>
  </div>
</div>
