
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '[data-add-to-cart-form]',
          cartContainer: '#CartContainer',
          addToCartSelector: '[data-add-to-cart]',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
    <script type="text/javascript">
      $(function() {
        if ($('.template-cart').length > 0) {
          //get the cart to update automatically after line item changes
          //feels like there's a simpler / more integrated way of enabling this
          //(given the qty buttons are already js), along the lines of how the ajax-cart works
          //also a mystery why Shopify / Timber doesn't have this functionality already
          $('.js-qty__adjust, .cart__remove').on('click', function() {
            $('button[name=update]').trigger('click');
          });
        };
      });
    </script>
  {% endif %}

</body>
</html>
