<div class="CartContainer-pickup">
  <div class="ajaxcart__inner">
    <div class="ajaxcart__product">
      {% for item in cart.items %}
      <div class="ajaxcart__row">
        <div class="grid display-table">
          <div class="grid__item column1 display-table-cell">
            <a href="{{ item.url | within: collections.all }}" class="cart__image">
              <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape}}">
            </a>
          </div>
          <div class="grid__item column2 display-table-cell">
            <a href="{{ item.url }}" class="h4">
              <span class="grey">{{ item.quantity }}</span><span class="grey grey-x">x </span>{{ item.product.title}}
            </a>
          </div>
          <div class="grid__item display-table-cell column3 text-right">
            <span class="line-price">{{ item.line_price | money }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="ajaxcart__footer">
    <hr>
    <div class="grid--full">
      <div class="grid__item two-thirds">
        <p class="subtotal">{{ 'customer.order.subtotal' | t }}</p>
      </div>
      <div class="grid__item one-third text-right price-subtotal">
        <p>{{ cart.original_total_price | money }}</p>
      </div>

    </div>
  </div>
</div>